---
import Layout from '@layouts/Layout.astro'
import CardGrid from '@components/CardGrid.astro'
import Card from '@components/Card.astro'

import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
---

<Layout title="Ben Keys">
  <CardGrid title="Blog Posts">
    {posts.map(post => (<a href={'./blog/' + post.slug} >
      <Card {...post.data} />
    </a>)
    )}
  </CardGrid>
</Layout>
