---
import Layout from '@layouts/Layout.astro'
import CardGrid from '@components/CardGrid.astro'
import Card from '@components/Card.astro'

import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime()
})

---

<Layout
  title="Ben Keys"
  desc="Ben Keys writes blog post about programming, new technology, and rock climbing."
>
  <h1 class="text-center">Blog Posts</h1>
  <CardGrid>
    {posts.map(post => <Card {...post.data} href={'/blog/' + post.slug} />)}
  </CardGrid>
</Layout>
