---
import Layout from '@layouts/Layout.astro'
import CardGrid from '@components/CardGrid.astro'
import Card from '@components/Card.astro'

import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
---

<Layout title="Ben Keys">
  <h1 class="my-6">Blog Posts</h1>
  <CardGrid>
    {posts.map(post => <Card {...post.data} href={'./blog/' + post.slug} />)}
  </CardGrid>
</Layout>
