@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #0c120f;
  --color-secondary: #333333;

  --color-surface: #fafbfc;
  --color-surface-muted: #f2f3f5;

  --color-blue-50: #eff6fa;
  --color-blue-100: #dceefa;
  --color-blue-200: #92aabc;
  --color-blue-300: #55788f;
  --color-blue-400: #284c63;
  --color-blue-500: #0c2636;

  --color-green-100: #c7e7a6;
  --color-green-200: #92ba69;
  --color-green-300: #638d3a;
  --color-green-400: #3c6018;
  --color-green-500: #1c3305;

  --color-aqua-100: #58e2c8;
  --color-aqua-200: #45b19f;
  --color-aqua-300: #328073;
  --color-aqua-400: #1f4f47;
  --color-aqua-500: #0c1e1b;
}

@layer base {
  body {
    @apply bg-surface text-primary;
    font-family: 'Poppins', sans-serif;
    &::before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -999;
      background-image: linear-gradient(
        var(--color-blue-100),
        var(--color-blue-50) 15vh,
        var(--color-surface)
      );
    }
  }

  /* #region ***** Typography *****/
  blockquote {
    @apply bg-surface-muted ml-2 border-l-4 border-blue-400 px-3 py-2 italic;
  }
  h1 {
    @apply text-center;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-medium;
  }
  h1 {
    @apply text-center text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-secondary text-base font-semibold;
  }
  h6 {
    @apply text-sm font-light;
  }
  p {
    @apply leading-relaxed;
  }
  article {
    & h2,
    h3,
    h4 {
      @apply font-semibold;
    }
  }
  article,
  .content {
    & p,
    & li {
      @apply text-secondary;
    }
  }
  /* #endregion */

  /* #region ***** Spacing *****/
  blockquote,
  :not(div) > div,
  figcaption,
  figure,
  hr,
  ol,
  p,
  pre,
  ul,
  audio,
  img,
  video,
  embed,
  iframe,
  picture,
  source,
  svg,
  canvas {
    @apply my-4;
  }

  h1,
  h2 {
    @apply mt-10 mb-6;
  }
  h3 {
    @apply mt-6 mb-4;
  }
  h4 {
    @apply mt-4 mb-2;
  }
  h5 {
    @apply mt-2 mb-1;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    &:first-child {
      @apply mt-0;
    }
  }
  /* #endregion */

  /* #region ***** Text Compontent Styles *****/
  :not(nav) > ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  :not(nav) > ul,
  ol {
    @apply list-outside pl-6;
    & li {
      @apply mt-2;
    }
  }
  p a {
    @apply underline;
    color: var(--color-blue-400);
  }
  /* #endregion */
}

@layer components {
  .page-width {
    @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
  }
  .modal {
    @apply invisible fixed top-0 left-0 z-50 h-full w-full overflow-auto opacity-0 transition-opacity duration-200;
  }
  span.vertical-divider {
    @apply px-1;
    font-size: calc(1em + 2px);
  }
  .icon {
    @apply inline-block h-6 w-6;
  }
  .truncate-multiline-4 {
    @apply overflow-hidden text-ellipsis whitespace-normal;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  blockquote .attribution {
    @apply !mt-2 font-light;
    &::before {
      @apply pr-1.5;
      content: '\2014';
    }
  }
  .my-0-all,
  .my-0-all * {
    @apply my-0;
  }
}

@layer utilities {
  /***** Spacing *****/
  main,
  section {
    @apply mt-10 md:mt-14;
  }
}

.astro-code {
  @apply rounded-md py-4 pr-7 pl-5 text-sm shadow-md;
}

.hover-grow {
  @apply duration-100 ease-in-out hover:scale-105;
}
