@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-primary;
    font-family: 'Poppins', sans-serif;
    &::before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -999;
      background-image: linear-gradient(
        theme(colors.blue.100),
        theme(colors.blue.50) 15vh,
        theme(backgroundColor.primary)
      );
    }
  }
  blockquote {
    @apply ml-2 border-l-4 border-blue-400 bg-secondary px-3 py-2 italic;
  }
}

@layer components {
  .page-width {
    @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
  }
  .modal {
    @apply invisible fixed left-0 top-0 z-50 h-full w-full overflow-auto opacity-0 transition-opacity duration-200 target:visible target:opacity-100;
  }
  span.vertical-divider {
    @apply px-1;
    font-size: calc(1em + 2px);
  }
  .icon {
    @apply inline-block h-6 w-6;
  }
}

@layer utilities {
  /* Typography */
  h1,
  h2,
  h3,
  h4 {
    @apply font-medium;
  }
  h1 {
    @apply text-center text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-base font-semibold text-secondary;
  }
  h6 {
    @apply text-sm font-light;
  }
  p {
    @apply leading-relaxed;
  }
  article {
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {
      @apply font-semibold;
    }
  }
  article,
  .content {
    & p,
    & li {
      @apply text-secondary;
    }
  }

  .truncate-multiline-4 {
    @apply overflow-hidden text-ellipsis whitespace-normal;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  /** spacing **/
  article,
  main > .content,
  section {
    @apply mt-10 md:mt-14;
  }
  article,
  .content,
  section {
    & *:first-child {
      @apply mt-0;
    }
    & > * + *:not(section, h1, h2, h3, h4, h5, h6) {
      @apply mt-4;
    }
  }

  h1 {
    @apply mt-10;
  }
  h2 {
    @apply mt-10;
  }
  h3 {
    @apply mt-6;
  }
  h4 {
    @apply mt-4;
  }
  h5 {
    @apply mt-2;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    &:first-child {
      @apply mt-0;
    }
  }

  /* Text compontent styles */
  article,
  .content {
    & ul {
      @apply list-disc;
    }
    & ol {
      @apply list-decimal;
    }
    & ul,
    ol {
      @apply list-outside pl-6;
      & li {
        @apply mt-2;
      }
    }
    & a {
      @apply underline;
      color: theme(colors.blue.400);
    }
  }

  blockquote .attribution {
    @apply !mt-2 font-light;
    &::before {
      @apply pr-1.5;
      content: '\2014';
    }
  }
}
