---
interface Props {
  title: string
  date?: Date
  desc?: string
  tag?: string
  imgSrc?: string
  imgAlt?: string
}

const { title, desc, date, tag, imgSrc, imgAlt } = Astro.props
---

<article class="h-min shadow-md">
  <img src={imgSrc} alt={imgAlt} class="h-[240px] w-full object-cover" />
  <div class="m-2">
    {
      (tag || date) && (
        <h6>
          {tag && tag}
          {tag && date && <span class="vertical-divider">|</span>}
          {date && date.toLocaleDateString()}
        </h6>
      )
    }
    <h4>{title}</h4>
    {desc && <p>{desc}</p>}
  </div>
</article>
